.container#main-wrapper
  #submit-tracks.page
    %button.close{:type=>"button"} ×
    %h2 Want to send us some music?
    %p
      add
      %span "shawnjanas"
      to your Skype contact list or email 
      %span "shawn (at) turnchannel (dot) com"
  #submit-art.page
    %button.close{:type=>"button"} ×
    %h2 Want to send us some art?
    %p
      add
      %span "shawnjanas"
      to your Skype contact list or email 
      %span "shawn (at) turnchannel (dot) com"
  #contact.page
    %button.close{:type=>"button"} ×
    %h2 Want to contact turnchannel?
    %p
      add
      %span "shawnjanas"
      to your Skype contact list or email 
      %span "shawn (at) turnchannel (dot) com"
