/.left-nav
/  %ul
/    Tracks
/    %li Popular
/    %li Recent
/    %li Upvotes
/    Artists
/    %li Popular
/    %li Recent
- @track = Track.last
.genre-bar
  .genre-item
    %h4 House
  .genre-item
    %h4 Dubstep
  .genre-item
    %h4 DrumNBass
.left-bar
  .playing-track
    .playing-track-header
      %h4 Currently Playing...
    .playing-track-image
      = image_tag @track.artwork_url.gsub('large','t300x300')
    .playing-title
      %h4 Excision - Raise Your Fist
    .playing-artist-image
      = image_tag 'http://geo-media.beatport.com/image/629022.jpg'
  .playing-history
    .playing-history-header
      %h4 Recently played
.chat-container
  %p shawnjanas: this was pretty wicked man
  %p shawnjanas: this was pretty wicked man
  %p shawnjanas: this was pretty wicked man
  %p shawnjanas: this was pretty wicked man
  %p shawnjanas: this was pretty wicked man
  %p shawnjanas: this was pretty wicked man
  %p shawnjanas: this was pretty wicked man
  %p shawnjanas: this was pretty wicked man
  %p shawnjanas: this was pretty wicked man
  %p shawnjanas: this was pretty wicked man
  %p shawnjanas: this was pretty wicked man
  %p shawnjanas: this was pretty wicked man
  %p shawnjanas: this was pretty wicked man
  %p shawnjanas: this was pretty wicked man
  %p shawnjanas: this was pretty wicked man
  %p shawnjanas: this was pretty wicked man
  %p shawnjanas: this was pretty wicked man
  %p shawnjanas: this was pretty wicked man
  %p shawnjanas: this was pretty wicked man
  %p shawnjanas: this was pretty wicked man
  %p shawnjanas: this was pretty wicked man
  %p shawnjanas: this was pretty wicked man
  %p shawnjanas: this was pretty wicked man
  %p shawnjanas: this was pretty wicked man
  %p shawnjanas: this was pretty wicked man
  /#main-player
  /  = image_tag @track.artwork_url.gsub('large','t300x300')
  /  #player-bar
  /    .controls
  /      /.pre.control#player-pre= "◄◄"
  /      .play.control#player-play= "►"
  /      .pause.control#player-pause= "▌▌"
  /      /.next.control#player-next= "►►"
  /    .track
  /      now playing...
  /      #track-title excision - raise your fist
  /      #player-controls
  /        #player-seekbar
  /          %span#player-elapsed.control 00:00
  /          #player-seek.control
  /            #player-progress-bar
  /              #player-progress-bar-meter
  /          %span#player-duration.control 00:00
  /#main-content
  /  .main-heading
  /    %h4 popular
  /  #main-wrapper

  /.tracks-container
  /  .tracks-heading
  /    /%h4 new on turnchannel
  /  .track-items
  /    - @new_tracks.each_with_index do |track, i|
  /      - i += 1
  /      %article.track-item.track{:'track-id' => track.sc_id, :artist => track.f_artist, :title => track.f_title}
  /        /%span.rank= i
  /        .voting
  /          .upvote
  /            Up
  /          .vote
  /            23
  /          .downvote
  /            Down
