.tracks-container
  .track-filters
    %h2
      Popular
  - @popular_tracks.each_with_index do |track, i|
    - style = ''
    - if i % 4 == 3
      - style = 'margin-right: 0;'
    = render :partial => 'track_entry', :locals => {:track => track, :style => style}
.tracks-container
  .track-filters
    %h2
      New
  - @new_tracks.each_with_index do |track, i|
    - style = ''
    - if i % 4 == 3
      - style = 'margin-right: 0;'
    = render :partial => 'track_entry', :locals => {:track => track, :style => style}
