.track-container
  .track-wrapper
    .track-cover-art
      = image_tag @track.artwork_url.gsub('large','t500x500')
    .track-details
      = @track.f_title
      = @track.f_artist
  .track-comments
    %h4 Comments
