@import "bootstrap";

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #333;
  /*background-color: #242526;*/
  background-color: #1B1B1B;
  margin-bottom: 30px;
}

h3 span {
  font-size: 14px;
  font-weight: lighter;
}

#topbar {
  height: 60px;
  #topbar-nav {
    li a {
      padding: 20px 20px 20px;
    }
  }
}
.navbar .brand {
  padding: 20px 20px 0 0;
  margin-left: 0;
  font-weight: bold;
  float: left;
  &:hover {
    color: #f8f8f8;
  }
}


.main-container {
  width: 100%;
}

.tracks-container {
  width: 960px;
  margin: 0 auto;
  height: 550px;
}

.track {
  float: left;
  width: 217px;
  margin: 30px 30px 0 0;

  overflow: hidden;
  position: relative;

  img {
    width: 217px;
    height: 217px;
    -moz-opacity: .5;
    filter: alpha(opacity=50);
    opacity: .5;
    &.hover {
      -moz-opacity: 1;
      filter: alpha(opacity=1);
      opacity: 1;
    }
  }
  .track-play {
    display:none;
    position: absolute;
    left: 0;
    top: 0;
    margin: 93px 0 0 93px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: black;
    border: white solid 2px;
    i {
      margin: 6px 0 0 8px;
    }
  }
}

.track-filters {
  width: 960px;
  height: 40px;
  margin-top: 30px;
  h2 {
    float:left;
    color: #FFF;
    span {
      color: #666;
      font-size: 18px;
    }
  }
  .dropdown {
    margin: 0 0 0 21px;
    font-size: 11px;
    font-weight: bold;
    color: #CCC;
    background: #232323;
    border: black solid 1px;
    width: 150px;
    float: right;
    a.dropdown-toggle {
      padding: 10px;
      width: 130px;
      color: #CCC;
      float: left;
    }
  }
}


.track-stats {
  position: absolute;
  top: 0;
  left: 0;

  width: 217px;
  height: 40px;

  color: #f8f8f8;

  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.4);

  .track-plays {
    position: absolute;
    font-size: 12px;
    top: 10px;
    right: 15px;
    text-shadow: .1em .1em .2em #333;
  }
  .track-tags {
    position: absolute;
    top: 10px;
    left: 15px;
    text-shadow: .1em .1em .2em #333;
  }
}

.track-info {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 217px;
  height: 70px;

  color: #f8f8f8;

  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.4);

  .track-plays {
    position: absolute;
    font-size: 12px;
    top: 15px;
    right: 15px;
    text-shadow: .1em .1em .2em #333;
  }
  .track-artist {
    position: absolute;
    font-size: 24px;
    bottom: 35px;
    left: 15px;
    right: 15px;
    text-shadow: .1em .1em .2em #333;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    vertical-align: baseline;
  }
  .track-title {
    position: absolute;
    font-size: 16px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    text-shadow: .1em .1em .2em #333;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    vertical-align: baseline;
  }
}




.player {
  background: #2480a7;
  border-bottom: black solid 1px;
  padding-top: 30px;

  color: #f8f8f8;
  height: 555px;
}
.player-container {
  width: 960px;
  margin: 0 auto;
}
.player-comments {
  float: left;
  height: 499px;
  width: 360px;
  overflow: scroll;
  margin-left: 30px;
  border: 1px solid #666;
  background: #f8f8f8;
  padding: 10px;
}
.player-wrapper {
  overflow: hidden;
  position: relative;

  float: left;
  width: 521px;
  height: 521px;

  img {
    width: 521px;
    height: 521px;
  }
}
.player-title {
  height: 36px;
  text-shadow: .1em .1em .2em #333;
  overflow: hidden;
}
.player-avatar {

}
.player-footer {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 481px;
  height: 90px;

  padding: 10px 20px;

  color: #f8f8f8;

  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8);
  h2 {
    color: white;
    span {
      font-weight: lighter;
    }
  }

}
.player-artist {
  font-size: 32px;
  line-height: 50px;
  text-shadow: .1em .1em .2em #333;
  height: 45px;
  width: 740px;
  overflow: hidden;
  margin-bottom: 10px;
}
.player-details {
  margin-top: 5px;
  a {
    margin: 0 10px;
  }
}
#player-play {
  display: none;
  &.icon-fade {
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
  }
}
#player-pause {
  display: inline-block;
  &.icon-fade {
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
  }
}

.control {
  float: left;
  margin: 10px 0 0 10px;
  &.icon-fade {
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
  }
}

#player-controls {
  height: 20px;
  margin-top: 5px;

  #player-step-backward {
    margin-left: 0;
  }
  #player-play {
    display: none;
  }
  #player-pause {
  }
  #player-step-forward {
  }
  #player-volume-control {
    float: right;
    #player-volume-off {
      display: none;
    }
  }
  #player-shuffle {
    float: right;
    padding-right: 10px;
  }
}

#player-seekbar {
  height: 40px;
  float: left;
  margin-top: 3px;

  #player-elapsed {
    margin: 0;
  }
  #player-duration {
    margin: 0;
  }
  #player-seek {
    margin: 2px 5px 0 5px;
    padding: 5px 0;
    cursor: pointer;
    width: 409px;

    #player-progress-bar {
      height: 3px;
      padding: 0;
      background-repeat: no-repeat;
      background: #B3B3B3;

      #player-progress-bar-meter {
        -webkit-transition: width 1s linear;
        -moz-transition: width 1s linear;
        -ms-transition: width 1s linear;
        -o-transition: width 1s linear;
        transition: width 1s linear;
        -webkit-opacity: .99;
        height: 3px;
        width: 0;
        background: #5BB75B;
      }
    }
  }
}













.playlist-tracks-header, .track-playlists-header, .track-comments-header {
  color: white;
  font-size: 13px;
  float: left;
  width: 100%;
  margin: 0;

  z-index: 20;
}

.track-container {
  width: 960px;
  margin: 0 auto;
  .track-header {
    width: 100%;
    float: left;
    padding: 10px;
    border-bottom: #CCC solid 1px;
    .track-avatar {
      width: 144px;
      height: 144px;
      float: left;
    }
    .track-title {
      float:left;
      margin-left: 10px;
    }
  }
}

.track-options {
  margin-top: 69px;
}

.track-description {
  height: 50px;
  width: 100%;
}

.track-details {
  height: 20px;
}

.playlist-container {
  width: 100%;
  .playlist-header {
    width: 100%;
    float: left;
    padding: 10px;
    border-bottom: #CCC solid 1px;
    .playlist-title {
      float:left;
      margin-left: 10px;
    }
  }
  .playlist-tracks {
    float:left;
    .playlist-tracks-content {
      background: white;
      height: 200px;
      float: left;

      overflow-y: scroll;
      tr {
        &.odd {
          background: #f8f8f8;
        }
        border-bottom: #CCC solid 1px;
        height: 14px;
        overflow: hidden;
        &.playing {
          background: #ccf7cc;
        }
      }
      thead {
        height: 0;
      }
      th, td {
        text-align: left;
        padding: 3px 5px;
        border-right: #ccc solid 1px;
      }
      a {
        color: #000;
        &:hover {
          color: #000;
          text-decoration: underline;
        }
      }
      .play-column {
        width: 20px;
        margin-top: 2px;
        &:hover {
          cursor: pointer;
          i {
            opacity: 0.6;
          }
        }
      }
      .star-column {
        width: 20px;
        margin-top: 2px;
        border-right: #ccc solid 1px;
        &:hover {
          cursor: pointer;
          i {
            opacity: 0.6;
          }
        }
      }
      .buy-column {
        width: 20px;
        margin-top: 2px;
        &:hover {
          cursor: pointer;
          i {
            opacity: 0.6;
          }
        }
      }
      .title-column {
        height: 13px;
        overflow: hidden;
        line-height: 13px;
        width: 50%;
      }
      .artist-column {
        height: 13px;
        overflow: hidden;
        line-height: 13px;
        width: 50%;
      }
      .duration-column {
        width: 73px;
        text-align: right;
      }
      .plays-column {
        width: 50px;
        text-align: right;
      }
    }
  }
}

footer {
  height: 40px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 270px;
  color: white;

  .control {
    float: left;
    margin: 10px 0 0 10px;
  }

  #player-details {
    position: fixed;
    bottom: 0;
    left: 0;

    border-right: #222 solid 1px;

    .control {
      float: left;
      margin: 10px 0 0 10px;
      &:hover {
        opacity: 0.7;
        cursor: pointer;
        cursor: hand;
      }
    }

    #player-heading {
      height: 45px;
      width: 270px;
      overflow: hidden;

      #player-title {
        margin-top: 5px;
        text-align: center;
        font-weight: bold;
        font-size: 13px;
      }
      #player-artist {
        text-align: center;
        color: #999;

        font-size: 12px;
      }
    }
    #player-artwork {
      width: 270px;
      height: 270px;
      img {
        width: 270px;
        height: 270px;
      }
    }
    #player-controls {
      height: 40px;

      #player-step-backward {
      }
      #player-play {
      }
      #player-pause {
        display: none;
      }
      #player-step-forward {
      }
      #player-volume-control {
        float: right;
        #player-volume-off {
          display: none;
        }
      }
      #player-shuffle {
        float: right;
        padding-right: 10px;
      }
    }
  }

  #player-seekbar {
    height: 40px;
    #player-elapsed {
    }
    #player-duration {
      float: right;
      margin-right: 10px;
    }
    #player-seek {
      left: 50px;
      right: 60px;
      position: absolute;
      margin-top: 13px;
      padding: 5px 0;
      cursor: pointer;

      #player-progress-bar {
        height: 3px;
        padding: 0;
        background-repeat: no-repeat;
        background: #B3B3B3;

        #player-progress-bar-meter {
          -webkit-transition: width 1s linear;
          -moz-transition: width 1s linear;
          -ms-transition: width 1s linear;
          -o-transition: width 1s linear;
          transition: width 1s linear;
          -webkit-opacity: .99;
          height: 3px;
          width: 0;
          background: #5BB75B;
        }
      }
    }
  }
}

.no-border-radius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  padding-left: 0;
  padding-right: 0;
}

.icon-zoom {
  zoom: 150%;
  -moz-transform: scale(1.5);
}
