@import "bootstrap";

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #333;
  /*background: #F7F5F5 url(http://passets-lt.pinterest.com/images/paper.jpg) repeat;*/
  background: #DDD url(/assets/nasty_fabric.png) repeat;
  /*background: #DDD;*/
  margin-bottom: 30px;
}

h3 span {
  font-size: 14px;
  font-weight: lighter;
}

header {
  height: 60px;
}
.container {
  width: 940px;
}
.container-bg {
  border: #DDD solid 1px;
  background: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-with-right-bar {
  width: 600px;
  float: left;
  margin: 20px;
}
.right-bar {
  width: 280px;
  margin: 20px 20px 20px 0;
  float: left;
}

#topbar {
  height: 60px;
  color: #fff;
  #topbar-nav {
    li a {
      padding: 20px 20px 20px;
    }
  }
  .search-bar {
    float: left;
    margin-top: 16px;
    input {
      width: 420px;
    }
  }
  .sign-in {
    float: right;
    margin-top: 20px;
  }
  .social-connect {
    float: right;
    margin-top: 15px;
    h4 {
      float:left;
      color: #FFF;
      margin-top: 5px;
    }
    .social {
      float: left;
      margin-left: 20px;
      &#social-fb {
        margin-top: 5px;
        width: 80px;
      }
      &#social-tw {
        width: 173px;
      }
    }
  }
}
.navbar .brand {
  padding: 20px 20px 0 0;
  margin-left: 0;
  font-weight: bold;
  float: left;
  &:hover {
    color: #f8f8f8;
  }
}

#global-search span:hover {
  cursor: pointer;
}

.featured-tracks-container {
  width: 600px;
  height: 440px;
  border: #DDD solid 1px;
  img {
    float: left;
  }
  .featured-tracks-heading {
    background: #333;
    height: 35px;
    padding: 5px 0 0 10px;
    h3 {
      color: white;
    }
  }
  .featured-track-navmain {
    float: left;
    width: 100px;
    .featured-track-item {
      width: 100px;
      height: 100px;
      float: left;
      opacity: 0.8;
      img {
        width: 100px;
        height: 100px;
      }
    }
    .selected {
      opacity: 1;
    }
  }
  .featured-track-main {
    width: 400px;
    height: 400px;
    img {
      width: 400px;
      height: 400px;
    }
    float: left;
  }
  .featured-track-sub {
    float: left;
    width: 100px;
    .featured-track-item {
      width: 100px;
      height: 100px;
      float: left;
      opacity: 0.8;
      img {
        width: 100px;
        height: 100px;
      }
      .track-play {
        display:none;
        position: absolute;
        left: 0;
        top: 0;
        margin: 38px 0 0 38px;
        width: 30px;
        height: 30px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        background: black;
        border: white solid 2px;
        i {
          margin: 6px 0 0 8px;
        }
      }
      .genre {
        position: absolute;
        left: 0;
        top: 0;
        margin: 5px 0 0 5px;
      }
    }
    .selected {
      opacity: 1;
    }
  }
}
.new-tracks-container {
  width: 600px;
  height: 355px;
  border: #DDD solid 1px;
  margin-top: 20px;
  img {
    float: left;
  }
  .new-tracks-heading {
    background: #333;
    height: 35px;
    padding: 5px 0 0 10px;
    h3 {
      color: white;
    }
  }
  .new-track-items {
    .new-track-item {
      width: 108px;
      height: 144px;
      float: left;
      margin: 10px 0 0 10px;
      position: relative;
      img {
        width: 108px;
        height: 108px;
      }
      .new-track-description {
        height: 34px;
        float: left;
        .track-item-title, .track-item-artist {
          min-height: 18px;
          max-height: 18px;
          overflow: hidden;
          color: #333;
          &.hover {
            color: #1C62B9;
          }
        }
        .track-item-title {
          font-weight: bold;
        }
        .track-item-artist {

        }
      }
      .track-play {
        display:none;
        position: absolute;
        left: 0;
        top: 0;
        margin: 38px 0 0 38px;
        width: 30px;
        height: 30px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        background: black;
        border: white solid 2px;
        i {
          margin: 6px 0 0 8px;
        }
      }
      .genre {
        position: absolute;
        left: 0;
        top: 0;
        margin: 5px 0 0 5px;
      }
    }
  }
}
.related-tracks-container {
  width: 900px;
  height: 375px;
  border: #DDD solid 1px;
  margin: 20px 0 20px 20px;
  img {
    float: left;
  }
  .related-tracks-heading {
    background: #333;
    height: 35px;
    padding: 5px 0 0 10px;
    h3 {
      color: white;
    }
  }
  .related-track-items {
    .related-track-item {
      width: 117px;
      height: 144px;
      float: left;
      margin: 10px 0 10px 10px;
      position: relative;
      img {
        width: 117px;
        height: 117px;
        border: 1px solid #AAA;
      }
      .related-track-description {
        height: 34px;
        float: left;
        .track-item-title, .track-item-artist {
          min-height: 18px;
          max-height: 18px;
          overflow: hidden;
          color: #333;
          &.hover {
            color: #1C62B9;
          }
        }
        .track-item-title {
          font-weight: bold;
        }
        .track-item-artist {

        }
      }
      .track-play {
        display:none;
        position: absolute;
        left: 0;
        top: 0;
        margin: 42px 0 0 42px;
        width: 30px;
        height: 30px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        background: black;
        border: white solid 2px;
        i {
          margin: 6px 0 0 8px;
        }
      }
      .genre {
        position: absolute;
        left: 0;
        top: 0;
        margin: 5px 0 0 5px;
      }
    }
  }
}

.top10-tracks-container {
  border: #DDD solid 1px;
  background: #DDD;
  img {
    float: left;
  }
  .top10-tracks-heading {
    background: #333;
    height: 35px;
    padding: 5px 0 0 10px;
    h3 {
      color: white;
    }
  }
  .top10-track-items {
    .top10-track-item {
      position: relative;
      padding: 10px;
      height: 40px;
      border-bottom: #FFF solid 1px;
      img {
        width: 40px;
        height: 40px;
      }
      .top10-track-item-details {
        width: 188px;
        float: left;
        padding-left: 10px;
        &.track-item-number-10 {
          width: 166px;
        }
        h4 {
          min-height: 18px;
          max-height: 36px;
          overflow: hidden;
        }
        .track-item-title, .track-item-artist {
          min-height: 18px;
          max-height: 18px;
          overflow: hidden;
          color: #333;
          &.hover {
            color: #1C62B9;
          }
        }
        .track-item-title {
          font-weight: bold;
        }
        .track-item-artist {

        }
      }
      .track-item-number {
        font-size: 40px;
        line-height: 40px;
        float: left;
        width: 20px;
        color: #fff;
        text-shadow: 0 0 3px #BBB;
      }
      .track-play {
        display:none;
        position: absolute;
        left: 0;
        top: 0;
        margin: 19px 0 0 19px;
        width: 18px;
        height: 18px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
        background: black;
        border: white solid 2px;
        i {
          margin: 1px 0 0 3px;
        }
      }
    }
  }
}
.discover-tracks-container {
  margin-bottom: 20px;
  border: #DDD solid 1px;
  background: #DDD;
  img {
    float: left;
  }
  .discover-tracks-heading {
    background: #333;
    height: 35px;
    padding: 5px 0 0 10px;
    h3 {
      color: white;
    }
  }
  .discover-track-items {
    .discover-track-item {
      border-bottom: #FFF solid 1px;
      a {
        span {
          display: block;
          padding: 10px;
          height: 20px;
          width: 258px;
          color: #333;
          font-weight: bold;
          &:hover {
            color: #1C62B9;
          }
        }
      }
    }
  }
}
.search-tracks-container {
  width: 900px;
  height: 539px;
  border: #DDD solid 1px;
  margin: 20px 0 20px 20px;
  img {
    float: left;
  }
  .search-tracks-heading {
    background: #333;
    height: 35px;
    padding: 5px 0 0 10px;
    h3 {
      color: white;
    }
  }
  .search-track-items {
    .search-track-item {
      width: 117px;
      height: 144px;
      float: left;
      margin: 10px 0 10px 10px;
      position: relative;
      img {
        width: 117px;
        height: 117px;
        border: 1px solid #AAA;
      }
      .search-track-description {
        height: 34px;
        float: left;
        .track-item-title, .track-item-artist {
          min-height: 18px;
          max-height: 18px;
          overflow: hidden;
          color: #333;
          &.hover {
            color: #1C62B9;
          }
        }
        .track-item-title {
          font-weight: bold;
        }
        .track-item-artist {

        }
      }
      .track-play {
        display:none;
        position: absolute;
        left: 0;
        top: 0;
        margin: 42px 0 0 42px;
        width: 30px;
        height: 30px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        background: black;
        border: white solid 2px;
        i {
          margin: 6px 0 0 8px;
        }
      }
      .genre {
        position: absolute;
        left: 0;
        top: 0;
        margin: 5px 0 0 5px;
      }
    }
  }
}

.landing-header {
  h2 {
    color: #fff;
  }
  background: url(/assets/wild_oliva.png) repeat;
  padding: 10px;
}



.main-container {
  width: 100%;
}

.tracks-container {
  width: 960px;
  margin: 0 auto;
  height: 550px;
}

.track-filters {
  width: 960px;
  height: 40px;
  margin-top: 30px;
  h2 {
    float:left;
    color: #FFF;
    span {
      color: #666;
      font-size: 18px;
    }
  }
  .dropdown {
    margin: 0 0 0 21px;
    font-size: 11px;
    font-weight: bold;
    color: #CCC;
    background: #232323;
    border: black solid 1px;
    width: 150px;
    float: right;
    a.dropdown-toggle {
      padding: 10px;
      width: 130px;
      color: #CCC;
      float: left;
    }
  }
}


.track-stats {
  position: absolute;
  top: 0;
  left: 0;

  width: 217px;
  height: 40px;

  color: #f8f8f8;

  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.4);

  .track-plays {
    position: absolute;
    font-size: 12px;
    top: 10px;
    right: 15px;
    text-shadow: .1em .1em .2em #333;
  }
  .track-tags {
    position: absolute;
    top: 10px;
    left: 15px;
    text-shadow: .1em .1em .2em #333;
  }
}

.track-info {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 217px;
  height: 70px;

  color: #f8f8f8;

  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.4);

  .track-plays {
    position: absolute;
    font-size: 12px;
    top: 15px;
    right: 15px;
    text-shadow: .1em .1em .2em #333;
  }
  .track-artist {
    position: absolute;
    font-size: 24px;
    bottom: 35px;
    left: 15px;
    right: 15px;
    text-shadow: .1em .1em .2em #333;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    vertical-align: baseline;
  }
  .track-title {
    position: absolute;
    font-size: 16px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    text-shadow: .1em .1em .2em #333;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    vertical-align: baseline;
  }
}




.player {
  margin: 20px;

  color: #f8f8f8;
  height: 520px;
}
.player-container {
  width: 960px;
  margin: 0 auto;
}
.player-share {
  float: left;
  height: 238px;
  width: 357px;
  margin:  0 0 20px 20px;
  border: 1px solid #DDD;
  background: #f8f8f8;
  .player-share-heading {
    background: #333;
    height: 35px;
    padding: 5px 0 0 10px;
    h3 {
      color: white;
    }
  }
  .player-share-wrapper {
    color: #333;
    padding: 10px;
    .social-title {
      color: #BF0265;
      font-weight: bold;
    }
    .social {
      float: left;
      margin-top: 10px;
      &#social-fb {
        width: 50px;
      }
      &#social-tw {
        margin-left: 10px;
        width: 173px;
      }
      &#social-pin {
        margin-left: 10px;
        width: 173px;
      }
    }
    .register-container {
      color: #BF0265;
      float: left;
      font-weight: bold;
      margin-top: 10px;
      a {
        margin: 10px 30px 0 0;
      }
    }
  }
}
.player-comments {
  float: left;
  height: 259px;
  width: 357px;
  margin-left: 20px;
  border: 1px solid #DDD;
  background: #f8f8f8;
  overflow: hidden;
  .player-comments-heading {
    background: #333;
    height: 35px;
    padding: 5px 0 0 10px;
    h3 {
      color: white;
    }
  }
  .fb-comments-wrapper {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 409px;
    padding: 10px;
  }
  .social-connect {
    margin-top: 15px;
    h4 {
      float:left;
      color: #FFF;
      margin-top: 5px;
    }
  }
}
.player-wrapper {
  overflow: hidden;
  position: relative;

  float: left;
  width: 519px;
  height: 519px;

  border: #DDD solid 1px;

  img {
    width: 521px;
    height: 521px;
  }
}
.player-title {
  height: 36px;
  text-shadow: .1em .1em .2em #333;
  overflow: hidden;
}
.player-avatar {

}
.player-footer {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 481px;
  height: 90px;

  padding: 10px 20px;

  color: #f8f8f8;

  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8);
  h2 {
    color: white;
    span {
      font-weight: lighter;
    }
  }

}
.player-artist {
  font-size: 32px;
  line-height: 50px;
  text-shadow: .1em .1em .2em #333;
  height: 45px;
  width: 740px;
  overflow: hidden;
  margin-bottom: 10px;
}
.player-details {
  margin-top: 5px;
  a {
    margin: 0 5px;
  }
}
#player-play {
  display: none;
  &.icon-fade {
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
  }
}
#player-pause {
  display: inline-block;
  &.icon-fade {
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
  }
}

.control {
  float: left;
  margin: 10px 0 0 10px;
  &.icon-fade {
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
  }
}
#player-step-forward {
  margin: 0 5px;
  a {
    margin: 0;
  }
}

#player-controls {
  height: 20px;
  margin-top: 5px;

  #player-step-backward {
    margin-left: 0;
  }
  #player-play {
    display: none;
  }
  #player-pause {
  }
  #player-volume-control {
    float: right;
    margin: 0;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
    #player-volume-off {
      display: none;
    }
  }
  #player-shuffle {
    float: right;
    padding-right: 10px;
  }
}

#player-seekbar {
  height: 40px;
  float: left;
  margin-top: 3px;

  #player-elapsed {
    margin: 0;
  }
  #player-duration {
    margin: 0;
  }
  #player-seek {
    margin: 2px 5px 0 5px;
    padding: 5px 0;
    cursor: pointer;
    width: 380px;

    #player-progress-bar {
      height: 3px;
      padding: 0;
      background-repeat: no-repeat;
      background: #B3B3B3;

      #player-progress-bar-meter {
        -webkit-transition: width 1s linear;
        -moz-transition: width 1s linear;
        -ms-transition: width 1s linear;
        -o-transition: width 1s linear;
        transition: width 1s linear;
        -webkit-opacity: .99;
        height: 3px;
        width: 0;
        background: #5BB75B;
      }
    }
  }
}













.playlist-tracks-header, .track-playlists-header, .track-comments-header {
  color: white;
  font-size: 13px;
  float: left;
  width: 100%;
  margin: 0;

  z-index: 20;
}

.track-container {
  width: 960px;
  margin: 0 auto;
  .track-header {
    width: 100%;
    float: left;
    padding: 10px;
    border-bottom: #CCC solid 1px;
    .track-avatar {
      width: 144px;
      height: 144px;
      float: left;
    }
    .track-title {
      float:left;
      margin-left: 10px;
    }
  }
}

.track-options {
  margin-top: 69px;
}

.track-description {
  height: 50px;
  width: 100%;
}

.track-details {
  height: 20px;
}

.playlist-container {
  width: 100%;
  .playlist-header {
    width: 100%;
    float: left;
    padding: 10px;
    border-bottom: #CCC solid 1px;
    .playlist-title {
      float:left;
      margin-left: 10px;
    }
  }
  .playlist-tracks {
    float:left;
    .playlist-tracks-content {
      background: white;
      height: 200px;
      float: left;

      overflow-y: scroll;
      tr {
        &.odd {
          background: #f8f8f8;
        }
        border-bottom: #CCC solid 1px;
        height: 14px;
        overflow: hidden;
        &.playing {
          background: #ccf7cc;
        }
      }
      thead {
        height: 0;
      }
      th, td {
        text-align: left;
        padding: 3px 5px;
        border-right: #ccc solid 1px;
      }
      a {
        color: #000;
        &:hover {
          color: #000;
          text-decoration: underline;
        }
      }
      .play-column {
        width: 20px;
        margin-top: 2px;
        &:hover {
          cursor: pointer;
          i {
            opacity: 0.6;
          }
        }
      }
      .star-column {
        width: 20px;
        margin-top: 2px;
        border-right: #ccc solid 1px;
        &:hover {
          cursor: pointer;
          i {
            opacity: 0.6;
          }
        }
      }
      .buy-column {
        width: 20px;
        margin-top: 2px;
        &:hover {
          cursor: pointer;
          i {
            opacity: 0.6;
          }
        }
      }
      .title-column {
        height: 13px;
        overflow: hidden;
        line-height: 13px;
        width: 50%;
      }
      .artist-column {
        height: 13px;
        overflow: hidden;
        line-height: 13px;
        width: 50%;
      }
      .duration-column {
        width: 73px;
        text-align: right;
      }
      .plays-column {
        width: 50px;
        text-align: right;
      }
    }
  }
}

footer {
  float: left;
  width: 100%;
  background: #333;
  color: white;
  height: 50px;
  border-top: #000 solid 1px;
  .title {
    margin-top: 15px;
    float: left;
    font-size: 16px;
  }
  .social-connect {
    float: right;
    margin-top: 10px;
    .social {
      float: left;
      padding-left: 10px;
    }
    #social-fb {
      padding-top: 5px;
    }
  }
}

.no-border-radius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  padding-left: 0;
  padding-right: 0;
}

.icon-zoom {
  zoom: 150%;
  -moz-transform: scale(1.5);
}
