.playlists-container
  - @playlists.first.tracks.each_with_index do |track, i|
    - style = ''
    - if i % 3 == 2
      - style = 'margin-right: 0;'
    .playlist{:style => style}
      %a{:href => track_url(track.id)}
        = image_tag track.artwork_url.gsub('large','t300x300')
        .playlist-stats
          .playlist-plays
            ►
            = track.plays
        .playlist-info
          .playlist-artist
            = track.artist
          .playlist-title
            = track.title
