.playlists-container
  %h1 Playlists
  .new-playlists
    %h3 New Playlists
    - @playlists.each do |playlist|
      .playlist
        .playlist-avatar
          %a{:href => playlist_url(playlist.id)}
            - playlist.tracks[0..8].each do |track|
              = image_tag track.artwork_url.gsub('large','badge')
        .playlist-title
          = playlist.title
  .new-playlists
    %h3 Popular Playlists
    - @playlists.each do |playlist|
      .playlist
        .playlist-avatar
          - playlist.tracks[0..8].each do |track|
            = image_tag track.artwork_url.gsub('large','badge')
        .playlist-title
          = playlist.title
