.landing-background
  .container.landing-container
    .tags-container
      %h1 Play me some...
      .tags
        %a{:href => "/discover/house"}
          %span.label.label-inverse House
        %a{:href => "/discover/dubstep"}
          %span.label.label-inverse Dubstep
        %a{:href => "/discover/dnb"}
          %span.label.label-inverse DnB
