%footer
  #player-queue
    #player-details
      #track-detail-wrapper
        %span#track-title Loading...
        %span#track-comments
      #player-minus
        %i.icon-minus
      #player-plus
        %i.icon-plus
    #queue-wrapper
      #queue
  #player
    #player-play
      %i.icon-play.icon-zoom
    #player-pause
      %i.icon-pause.icon-zoom
    #player-step-backward
      %i.icon-step-backward.icon-zoom
    #player-step-forward
      %i.icon-step-forward.icon-zoom
    #player-times
      %span#player-elapsed 00:00
      = '/'
      %span#player-duration 00:00
    #player-seek
      #player-progress-bar
        #player-progress-bar-meter
    #player-sound
      #player-volume-up
        %i.icon-volume-up.icon-zoom
      #player-volume-off
        %i.icon-volume-off.icon-zoom
    #player-shuffle
      %i.icon-random.icon-zoom
