- unless current_user
  .feature-box.container
    /.feature-image
    /  = image_tag 'http://sphotos-h.ak.fbcdn.net/hphotos-ak-ash3/534551_516375735041098_496568347_n.jpg'
    %h2
      The front page of Popular Dance Music. Don't be shy, join the party!
    .register-now
      %a.register-btn.btn.btn-large.btn-info{:href => user_omniauth_authorize_path(:facebook), :target => '_blank'} Join Party!
