%header
  .navbar.navbar-fixed-top
    .navbar-inner
      #topbar
        %span.brand.full-left TurnChannelFM
        %ul.nav#topbar-nav
          - if params[:controller] == 'playlists' && params[:action] == 'index'
            %li.active= link_to 'Playlists', '/playlists', :class => 'topbar-link', :id => 'new'
          - else
            %li= link_to 'Playlists', '/playlists', :class => 'topbar-link', :id => 'new'
