%header
  .navbar
    .navbar-inner
      .container
        #topbar
          %a.brand.full-left{:href => root_url} TURNCHANNEL
          %ul.nav#topbar-nav
            %li= link_to 'Discover', '/discover', :class => 'topbar-link'
            /%li= link_to 'Dubstep', '/dubstep', :class => 'topbar-link', :id => 'dubstep'
            /%li= link_to 'DrumNBass', '/dnb', :class => 'topbar-link', :id => 'dnb'
