%header
  .navbar.navbar-fixed-top
    .navbar-inner
      #topbar
        %span.brand.full-left TurnChannelFM
        %ul.nav#topbar-nav
          %li.active= link_to 'Popular', '/popular', :class => 'topbar-link', :id => 'popular'
          %li= link_to 'New', '/new', :class => 'topbar-link', :id => 'new'
