%header
  .navbar-fixed-top
    #main-header-area
      %h1= link_to 'TurnChannel.FM', '#'
    #board-header-area
      /- @genres.each do |genre|
      %ul.flat-list
        - (0..9).to_a.each do |i|
          %li
            %span.separator= '-'
            = link_to 'Dubstep', '#'
/#player
/  = @new_tracks.first.f_artist
