%header
  .navbar
    .navbar-inner
      .container
        #topbar
          %a.brand{:href => root_url} TURNCHANNEL
          .search-bar
            .input-append
              %form#global-search{:method => 'post', :action => '/mixes/search/'}
                %input{:class=>"span2", :id=>"global-search-field", :type=>"text"}
                %span{:class=>"add-on"}
                  %i.icon-search
          .sign-in
            - if user_signed_in?
              It's
              = current_user.name
              = link_to 'Sign Out', destroy_user_session_path, :method => :delete
            - else
              = link_to 'Login', '#sign-in-modal', :'data-toggle'=>"modal", :target => '_blank'
              or
              = link_to 'Sign Up', '/users/sign_up'
