%header
  .navbar
    .navbar-inner
      .container
        #topbar
          %a.brand.full-left{:href => root_url} TURNCHANNEL
          %ul.nav#topbar-nav
            %li= link_to 'Discover', '/discover', :class => 'topbar-link'
          .social-connect
            %a{:href=>"https://twitter.com/TurnChannel", :class=>"twitter-follow-button", :'data-show-count'=>"false", :'data-size'=>"large", :'data-dnt'=>"true"} Follow @TurnChannel
